body {
  font-size: 16px; }

.container {
  max-width: 1024px !important;
  width: 100%; }

.intro {
  font-size: 1.375em; }

.menu {
  list-style-type: none;
  padding: 0; }

.jumbotron {
  font-size: 1.2em; }
  .jumbotron .btn {
    margin-right: 0.5em; }
